<ul class="list-inline">
    <li><a href="https://github.com/ortizcarlos" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li><a href="mailto:carlosortizur@gmail.com" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a>
    </li>  
</ul>